p {
    font-size: 13px;
}
body {
    margin: 0;
    background-color: rgb(250, 241, 225);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(0, 52, 150);
}
h5 {
    text-align: center;
    margin-left: -300px;
}
section {
position: fixed;
left: 0;
bottom: 12px;
width: 100%;
background: #fcb42e48;
padding-top: 60px;
}

footer {
display: flex;
align-items: flex-start;
gap: 40px;
margin: 0 30px;
}

@media (width >= 620px) {
footer {
    margin: 0 auto;
    max-width: 600px;
    padding: 0;
}
}

footer.top {
border-bottom: 2px solid #3a4f6a;
padding-bottom: 20px;
}

footer.bottom {
padding: 20px 0;
justify-content: space-between;
}

footer h2 {
margin: 0;
font-size: 20px;
font-weight: 400;
color: #525252;
}
footer a {
    color: rgb(255, 153, 0);
    font-weight: 800;
    font-size: 15px;

}
@media (width < 420px) {
footer {
    text-align: center;
    align-items: center;
}
}