body {
    background-color: #9fcffda8;
}
img {
    width: 401px;
    height: 300px;
}
.img2, .img4 {
    margin: -350px 0 0 500px;
}
.img3 {
    margin-top: 40px;
}
.bt {
    font-size: 16px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0077be;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bt:hover {
    background-color: #005fa3;
}