body {
    background-color: #faffe8;
}
h6 {
    font-size: 15px;
    margin: -15px 0 10px 0;
}
h1 {
    color: #005897;
}

p {
    font-size: 1.2em;
}

#paraules {
    width: 1130px;
}
input[type="text"] {
    padding: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #78acd1;
    background-color: rgb(255, 211, 153);

}
.a {
    margin: 0 10px 10px 0;

}
#bt {
    background-color: #78acd1;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#bt:hover {
    background-color: #78acd1;
}

#puntuacio {
    font-weight: bold;
}
